<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="spider URDF 3">
  <link
    name="main_body">
    <inertial>
      <origin
        xyz="1.8962E-18 2.9807E-18 -0.024667"
        rpy="0 0 0" />
      <mass
        value="0.27159" />
      <inertia
        ixx="0.00047029"
        ixy="8.7431E-20"
        ixz="9.2463E-22"
        iyy="0.00030006"
        iyz="2.8702E-20"
        izz="0.00076993" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/main_body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.189804 0.191765 0.192941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/main_body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="L1_coxa">
    <inertial>
      <origin
        xyz="0.024776 0.0016341 0.0035142"
        rpy="0 0 0" />
      <mass
        value="0.14547" />
      <inertia
        ixx="4.1777E-05"
        ixy="-5.3584E-07"
        ixz="5.3557E-07"
        iyy="2.672E-05"
        iyz="-4.9151E-13"
        izz="2.672E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L1_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L1_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_joint1"
    type="revolute">
    <origin
      xyz="-0.044415 0.061418 -0.023391"
      rpy="1.5708 0 2.0608" />
    <parent
      link="main_body" />
    <child
      link="L1_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L1_femur">
    <inertial>
      <origin
        xyz="0.0425 0.0020723 -0.00096249"
        rpy="0 0 0" />
      <mass
        value="0.018954" />
      <inertia
        ixx="6.9019E-07"
        ixy="9.6558E-21"
        ixz="-4.4469E-21"
        iyy="1.6508E-05"
        iyz="2.0444E-21"
        izz="1.7168E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L1_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.189804 0.192157 0.192941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L1_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_joint2"
    type="revolute">
    <origin
      xyz="0.039646 -0.001781 0.034959"
      rpy="-3.1416 0 0" />
    <parent
      link="L1_coxa" />
    <child
      link="L1_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L1_tibia">
    <inertial>
      <origin
        xyz="0.017865 -0.00025918 0.013634"
        rpy="0 0 0" />
      <mass
        value="0.083453" />
      <inertia
        ixx="6.3949E-05"
        ixy="-1.3189E-10"
        ixz="-6.8552E-06"
        iyy="6.307E-05"
        iyz="-1.5501E-07"
        izz="1.127E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L1_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L1_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_joint3"
    type="revolute">
    <origin
      xyz="0.075094 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="L1_femur" />
    <child
      link="L1_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L2_coxa">
    <inertial>
      <origin
        xyz="0.024776 0.0016341 0.0035142"
        rpy="0 0 0" />
      <mass
        value="0.14547" />
      <inertia
        ixx="4.1777E-05"
        ixy="-5.3584E-07"
        ixz="5.3557E-07"
        iyy="2.672E-05"
        iyz="1.006E-20"
        izz="2.672E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L2_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L2_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_joint1"
    type="revolute">
    <origin
      xyz="-0.057933 -0.010287 -0.023391"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="main_body" />
    <child
      link="L2_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L2_femur">
    <inertial>
      <origin
        xyz="0.0425 0.0020723 -0.00096249"
        rpy="0 0 0" />
      <mass
        value="0.018954" />
      <inertia
        ixx="6.9019E-07"
        ixy="1.0268E-21"
        ixz="8.041E-21"
        iyy="1.6508E-05"
        iyz="1.635E-21"
        izz="1.7168E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L2_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.189804 0.192157 0.192941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L2_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_joint2"
    type="revolute">
    <origin
      xyz="0.039646 -0.001781 0.034959"
      rpy="3.1416 0 0" />
    <parent
      link="L2_coxa" />
    <child
      link="L2_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L2_tibia">
    <inertial>
      <origin
        xyz="0.017865 -0.00025918 0.013634"
        rpy="0 0 0" />
      <mass
        value="0.083453" />
      <inertia
        ixx="6.3949E-05"
        ixy="-1.3191E-10"
        ixz="-6.8552E-06"
        iyy="6.307E-05"
        iyz="-1.5501E-07"
        izz="1.127E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L2_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L2_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_joint3"
    type="revolute">
    <origin
      xyz="0.075094 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="L2_femur" />
    <child
      link="L2_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L3_coxa">
    <inertial>
      <origin
        xyz="0.024776 0.0016341 0.0035142"
        rpy="0 0 0" />
      <mass
        value="0.14547" />
      <inertia
        ixx="4.1777E-05"
        ixy="-5.3584E-07"
        ixz="5.3557E-07"
        iyy="2.672E-05"
        iyz="-4.5427E-13"
        izz="2.672E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L3_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L3_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_joint1"
    type="revolute">
    <origin
      xyz="-0.026262 -0.0711 -0.023391"
      rpy="1.5708 0 -2.0608" />
    <parent
      link="main_body" />
    <child
      link="L3_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L3_femur">
    <inertial>
      <origin
        xyz="0.0425 0.0020723 -0.00096249"
        rpy="0 0 0" />
      <mass
        value="0.018954" />
      <inertia
        ixx="6.9019E-07"
        ixy="1.2735E-20"
        ixz="5.5057E-21"
        iyy="1.6508E-05"
        iyz="1.7693E-21"
        izz="1.7168E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L3_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.189804 0.192157 0.192941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L3_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_joint2"
    type="revolute">
    <origin
      xyz="0.039646 -0.001781 0.034959"
      rpy="3.1416 0 0" />
    <parent
      link="L3_coxa" />
    <child
      link="L3_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L3_tibia">
    <inertial>
      <origin
        xyz="0.017865 -0.00025918 0.013634"
        rpy="0 0 0" />
      <mass
        value="0.083453" />
      <inertia
        ixx="6.3949E-05"
        ixy="-1.3193E-10"
        ixz="-6.8552E-06"
        iyy="6.307E-05"
        iyz="-1.5501E-07"
        izz="1.127E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L3_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/L3_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_joint3"
    type="revolute">
    <origin
      xyz="0.075094 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="L3_femur" />
    <child
      link="L3_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R1_coxa">
    <inertial>
      <origin
        xyz="-0.0049639 0.0016341 0.0035142"
        rpy="0 0 0" />
      <mass
        value="0.14547" />
      <inertia
        ixx="4.1777E-05"
        ixy="5.3547E-07"
        ixz="-5.3574E-07"
        iyy="2.672E-05"
        iyz="-4.5427E-13"
        izz="2.672E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R1_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R1_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R1_joint1"
    type="revolute">
    <origin
      xyz="0.053738 0.0789 -0.023391"
      rpy="1.5708 0 -2.0608" />
    <parent
      link="main_body" />
    <child
      link="R1_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R1_femur">
    <inertial>
      <origin
        xyz="-0.0425 0.0020723 -0.00096249"
        rpy="0 0 0" />
      <mass
        value="0.018954" />
      <inertia
        ixx="6.9019E-07"
        ixy="5.83E-21"
        ixz="2.5411E-21"
        iyy="1.6508E-05"
        iyz="1.9867E-21"
        izz="1.7168E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R1_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.189804 0.192157 0.192941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R1_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R1_joint2"
    type="revolute">
    <origin
      xyz="-0.019834 -0.001781 0.034959"
      rpy="3.1416 0 0" />
    <parent
      link="R1_coxa" />
    <child
      link="R1_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R1_tibia">
    <inertial>
      <origin
        xyz="0.0019476 -0.00025921 0.013634"
        rpy="0 0 0" />
      <mass
        value="0.083453" />
      <inertia
        ixx="6.3949E-05"
        ixy="-1.3193E-10"
        ixz="6.8553E-06"
        iyy="6.307E-05"
        iyz="-1.5497E-07"
        izz="1.127E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R1_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R1_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R1_joint3"
    type="revolute">
    <origin
      xyz="-0.094906 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="R1_femur" />
    <child
      link="R1_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R2_coxa">
    <inertial>
      <origin
        xyz="-0.0049639 0.0016341 0.0035142"
        rpy="0 0 0" />
      <mass
        value="0.14547" />
      <inertia
        ixx="4.1777E-05"
        ixy="5.3547E-07"
        ixz="-5.3574E-07"
        iyy="2.672E-05"
        iyz="8.7086E-21"
        izz="2.672E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R2_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R2_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R2_joint1"
    type="revolute">
    <origin
      xyz="0.077745 -0.010287 -0.023391"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="main_body" />
    <child
      link="R2_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R2_femur">
    <inertial>
      <origin
        xyz="-0.0425 0.0020723 -0.00096249"
        rpy="0 0 0" />
      <mass
        value="0.018954" />
      <inertia
        ixx="6.9019E-07"
        ixy="-1.3713E-21"
        ixz="1.7931E-20"
        iyy="1.6508E-05"
        iyz="2.6897E-21"
        izz="1.7168E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R2_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.189804 0.192157 0.192941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R2_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R2_joint2"
    type="revolute">
    <origin
      xyz="-0.019834 -0.001781 0.034959"
      rpy="-3.1416 0 0" />
    <parent
      link="R2_coxa" />
    <child
      link="R2_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R2_tibia">
    <inertial>
      <origin
        xyz="0.0019476 -0.00025921 0.013634"
        rpy="0 0 0" />
      <mass
        value="0.083453" />
      <inertia
        ixx="6.3949E-05"
        ixy="-1.3191E-10"
        ixz="6.8553E-06"
        iyy="6.307E-05"
        iyz="-1.5497E-07"
        izz="1.127E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R2_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R2_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R2_joint3"
    type="revolute">
    <origin
      xyz="-0.094906 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="R2_femur" />
    <child
      link="R2_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R3_coxa">
    <inertial>
      <origin
        xyz="-0.0049639 0.0016341 0.0035142"
        rpy="0 0 0" />
      <mass
        value="0.14547" />
      <inertia
        ixx="4.1777E-05"
        ixy="5.3547E-07"
        ixz="-5.3574E-07"
        iyy="2.672E-05"
        iyz="-4.9151E-13"
        izz="2.672E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R3_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R3_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R3_joint1"
    type="revolute">
    <origin
      xyz="0.035585 -0.088582 -0.023391"
      rpy="1.5708 0 2.0608" />
    <parent
      link="main_body" />
    <child
      link="R3_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R3_femur">
    <inertial>
      <origin
        xyz="-0.0425 0.0020723 -0.00096249"
        rpy="0 0 0" />
      <mass
        value="0.018954" />
      <inertia
        ixx="6.9019E-07"
        ixy="-3.6249E-21"
        ixz="-2.0408E-20"
        iyy="1.6508E-05"
        iyz="3.1679E-21"
        izz="1.7168E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R3_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.189804 0.192157 0.192941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R3_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R3_joint2"
    type="revolute">
    <origin
      xyz="-0.019834 -0.001781 0.034959"
      rpy="-3.1416 0 0" />
    <parent
      link="R3_coxa" />
    <child
      link="R3_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R3_tibia">
    <inertial>
      <origin
        xyz="0.0019476 -0.00025921 0.013634"
        rpy="0 0 0" />
      <mass
        value="0.083453" />
      <inertia
        ixx="6.3949E-05"
        ixy="-1.3189E-10"
        ixz="6.8553E-06"
        iyy="6.307E-05"
        iyz="-1.5497E-07"
        izz="1.127E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R3_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.179216 0.181961 0.193333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF 3/meshes/R3_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R3_joint3"
    type="revolute">
    <origin
      xyz="-0.094906 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="R3_femur" />
    <child
      link="R3_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>