<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="spider URDF">
  <link
    name="main_body">
    <inertial>
      <origin
        xyz="4.9901E-19 -0.024667 -4.6907E-18"
        rpy="0 0 0" />
      <mass
        value="0.27159" />
      <inertia
        ixx="0.00047029"
        ixy="9.2461E-22"
        ixz="-8.9369E-20"
        iyy="0.00076993"
        iyz="6.8455E-23"
        izz="0.00030006" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/main_body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/main_body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="L1_coxa">
    <inertial>
      <origin
        xyz="0.024776 0.0016341 0.0035142"
        rpy="0 0 0" />
      <mass
        value="0.14547" />
      <inertia
        ixx="4.1777E-05"
        ixy="-5.3584E-07"
        ixz="5.3557E-07"
        iyy="2.672E-05"
        iyz="-4.9151E-13"
        izz="2.672E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L1_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L1_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_joint1"
    type="revolute">
    <origin
      xyz="-0.044415 0.061418 -0.023391"
      rpy="1.5708 0 2.0608" />
    <parent
      link="main_body" />
    <child
      link="L1_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L1_femur">
    <inertial>
      <origin
        xyz="0.0425 0.0020723 -0.00096249"
        rpy="0 0 0" />
      <mass
        value="0.018954" />
      <inertia
        ixx="6.9019E-07"
        ixy="9.6701E-21"
        ixz="-3.3617E-21"
        iyy="1.6508E-05"
        iyz="2.0543E-21"
        izz="1.7168E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L1_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.92157 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L1_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_joint2"
    type="revolute">
    <origin
      xyz="0.039646 -0.001781 0.034959"
      rpy="-3.1416 0 0" />
    <parent
      link="L1_coxa" />
    <child
      link="L1_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L1_tibia">
    <inertial>
      <origin
        xyz="0.017865 -0.00025918 0.013634"
        rpy="0 0 0" />
      <mass
        value="0.083453" />
      <inertia
        ixx="6.3949E-05"
        ixy="-1.3189E-10"
        ixz="-6.8552E-06"
        iyy="6.307E-05"
        iyz="-1.5501E-07"
        izz="1.127E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L1_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L1_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_joint3"
    type="revolute">
    <origin
      xyz="0.075094 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="L1_femur" />
    <child
      link="L1_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L2_coxa">
    <inertial>
      <origin
        xyz="0.024776 0.0016341 0.0035142"
        rpy="0 0 0" />
      <mass
        value="0.14547" />
      <inertia
        ixx="4.1777E-05"
        ixy="-5.3584E-07"
        ixz="5.3557E-07"
        iyy="2.672E-05"
        iyz="9.3978E-21"
        izz="2.672E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L2_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L2_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_joint1"
    type="revolute">
    <origin
      xyz="-0.057933 -0.010287 -0.023391"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="main_body" />
    <child
      link="L2_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L2_femur">
    <inertial>
      <origin
        xyz="0.0425 0.0020723 -0.00096249"
        rpy="0 0 0" />
      <mass
        value="0.018954" />
      <inertia
        ixx="6.9019E-07"
        ixy="1.0007E-21"
        ixz="8.0411E-21"
        iyy="1.6508E-05"
        iyz="1.6303E-21"
        izz="1.7168E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L2_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.92157 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L2_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_joint2"
    type="revolute">
    <origin
      xyz="0.039646 -0.001781 0.034959"
      rpy="3.1416 0 0" />
    <parent
      link="L2_coxa" />
    <child
      link="L2_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L2_tibia">
    <inertial>
      <origin
        xyz="0.017865 -0.00025918 0.013634"
        rpy="0 0 0" />
      <mass
        value="0.083453" />
      <inertia
        ixx="6.3949E-05"
        ixy="-1.3191E-10"
        ixz="-6.8552E-06"
        iyy="6.307E-05"
        iyz="-1.5501E-07"
        izz="1.127E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L2_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L2_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_joint3"
    type="revolute">
    <origin
      xyz="0.075094 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="L2_femur" />
    <child
      link="L2_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L3_coxa">
    <inertial>
      <origin
        xyz="0.0247761020098556 0.00163413195267163 0.00351420592765425"
        rpy="0 0 0" />
      <mass
        value="0.145467159991245" />
      <inertia
        ixx="4.17771437174694E-05"
        ixy="-5.35841791312057E-07"
        ixz="5.35574459198207E-07"
        iyy="2.67197998012243E-05"
        iyz="-4.54267233403865E-13"
        izz="2.67198002995217E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L3_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L3_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_joint1"
    type="revolute">
    <origin
      xyz="-0.026262 -0.0711 -0.023391"
      rpy="1.5708 0 -2.0608" />
    <parent
      link="main_body" />
    <child
      link="L3_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L3_femur">
    <inertial>
      <origin
        xyz="0.0424999999999998 0.00207234047327515 -0.000962489733139935"
        rpy="0 0 0" />
      <mass
        value="0.0189543856263249" />
      <inertia
        ixx="6.90193645790596E-07"
        ixy="1.27381764483632E-20"
        ixz="4.39398341388168E-21"
        iyy="1.6507785713016E-05"
        iyz="1.73571570000484E-21"
        izz="1.71682624360507E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L3_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.92156862745098 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L3_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_joint2"
    type="revolute">
    <origin
      xyz="0.039646 -0.001781 0.034959"
      rpy="3.1416 0 0" />
    <parent
      link="L3_coxa" />
    <child
      link="L3_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L3_tibia">
    <inertial>
      <origin
        xyz="0.0178645520428122 -0.000259178845722352 0.0136344638552385"
        rpy="0 0 0" />
      <mass
        value="0.0834526923953858" />
      <inertia
        ixx="6.39493660790735E-05"
        ixy="-1.31925906158266E-10"
        ixz="-6.8551643119347E-06"
        iyy="6.30699307053158E-05"
        iyz="-1.55008121913509E-07"
        izz="1.1270061788477E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L3_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/L3_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_joint3"
    type="revolute">
    <origin
      xyz="0.075094 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="L3_femur" />
    <child
      link="L3_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R1_coxa">
    <inertial>
      <origin
        xyz="-0.00496389814092921 0.00163413195267159 0.00351420592765427"
        rpy="0 0 0" />
      <mass
        value="0.145467159991244" />
      <inertia
        ixx="4.17771437174693E-05"
        ixy="5.35468938005543E-07"
        ixz="-5.35736270119368E-07"
        iyy="2.67197998012243E-05"
        iyz="-4.5426722982148E-13"
        izz="2.67198002995216E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R1_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R1_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R1_joint1"
    type="revolute">
    <origin
      xyz="0.053738 0.0789 -0.023391"
      rpy="1.5708 0 -2.0608" />
    <parent
      link="main_body" />
    <child
      link="R1_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R1_femur">
    <inertial>
      <origin
        xyz="-0.0425000000015365 0.00207234047173503 -0.000962489734160528"
        rpy="0 0 0" />
      <mass
        value="0.0189543856263249" />
      <inertia
        ixx="6.90193645790598E-07"
        ixy="5.86660156904445E-21"
        ixz="3.70576914423756E-21"
        iyy="1.65077857130159E-05"
        iyz="1.980438158562E-21"
        izz="1.71682624360507E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R1_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.92156862745098 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R1_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R1_joint2"
    type="revolute">
    <origin
      xyz="-0.019834 -0.001781 0.034959"
      rpy="3.1416 0 0" />
    <parent
      link="R1_coxa" />
    <child
      link="R1_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R1_tibia">
    <inertial>
      <origin
        xyz="0.00194762565089338 -0.000259206689439198 0.0136344638552385"
        rpy="0 0 0" />
      <mass
        value="0.0834526923953859" />
      <inertia
        ixx="6.39493660790734E-05"
        ixy="-1.31925906144713E-10"
        ixz="6.85526981343424E-06"
        iyy="6.30699307053149E-05"
        iyz="-1.54967811581959E-07"
        izz="1.12700617884764E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R1_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R1_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R1_joint3"
    type="revolute">
    <origin
      xyz="-0.094906 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="R1_femur" />
    <child
      link="R1_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R2_coxa">
    <inertial>
      <origin
        xyz="-0.00496389801348969 0.00163413188564857 0.00351420600696525"
        rpy="0 0 0" />
      <mass
        value="0.145467159253711" />
      <inertia
        ixx="4.1777143942296E-05"
        ixy="5.35468967108607E-07"
        ixz="-5.35736249547094E-07"
        iyy="2.67198002179656E-05"
        iyz="8.92031572577187E-21"
        izz="2.67198002179656E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R2_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R2_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R2_joint1"
    type="revolute">
    <origin
      xyz="0.077745 -0.010287 -0.023391"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="main_body" />
    <child
      link="R2_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R2_femur">
    <inertial>
      <origin
        xyz="-0.0425 0.00207234047327526 -0.000962489733139962"
        rpy="0 0 0" />
      <mass
        value="0.018954385626325" />
      <inertia
        ixx="6.90193645790599E-07"
        ixy="-1.40410084116602E-21"
        ixz="1.79311429736983E-20"
        iyy="1.6507785713016E-05"
        iyz="2.69039882739031E-21"
        izz="1.71682624360508E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R2_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.92156862745098 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R2_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R2_joint2"
    type="revolute">
    <origin
      xyz="-0.019834 -0.001781 0.034959"
      rpy="-3.1416 0 0" />
    <parent
      link="R2_coxa" />
    <child
      link="R2_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R2_tibia">
    <inertial>
      <origin
        xyz="0.00194762587080183 -0.000259206946198058 0.0136344632777333"
        rpy="0 0 0" />
      <mass
        value="0.0834526902175733" />
      <inertia
        ixx="6.39493650348895E-05"
        ixy="-1.31909002296199E-10"
        ixz="6.85526996665234E-06"
        iyy="6.3069928711245E-05"
        iyz="-1.54967735044572E-07"
        izz="1.12700615287123E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R2_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R2_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R2_joint3"
    type="revolute">
    <origin
      xyz="-0.094906 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="R2_femur" />
    <child
      link="R2_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R3_coxa">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R3_coxa.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R3_coxa.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R3_joint1"
    type="revolute">
    <origin
      xyz="0.035585 -0.088582 -0.023391"
      rpy="1.5708 0 2.0608" />
    <parent
      link="main_body" />
    <child
      link="R3_coxa" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R3_femur">
    <inertial>
      <origin
        xyz="-0.0425000000000001 0.00207234047327527 -0.000962489733140046"
        rpy="0 0 0" />
      <mass
        value="0.018954385626325" />
      <inertia
        ixx="6.901936457906E-07"
        ixy="-3.6725712378403E-21"
        ixz="-2.00640929380862E-20"
        iyy="1.6507785713016E-05"
        iyz="3.09244901215033E-21"
        izz="1.71682624360508E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R3_femur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.92156862745098 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R3_femur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R3_joint2"
    type="revolute">
    <origin
      xyz="-0.019834 -0.001781 0.034959"
      rpy="-3.1416 0 0" />
    <parent
      link="R3_coxa" />
    <child
      link="R3_femur" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R3_tibia">
    <inertial>
      <origin
        xyz="0.00194762621390129 -0.000259206874815343 0.0136344624812394"
        rpy="0 0 0" />
      <mass
        value="0.0834526895579443" />
      <inertia
        ixx="6.39493635604439E-05"
        ixy="-1.3188961409821E-10"
        ixz="6.85527012743982E-06"
        iyy="6.30699268556516E-05"
        iyz="-1.54967636024375E-07"
        izz="1.12700604534222E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R3_tibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider URDF/meshes/R3_tibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R3_joint3"
    type="revolute">
    <origin
      xyz="-0.094906 -0.010287 0.023391"
      rpy="-1.5708 0 0" />
    <parent
      link="R3_femur" />
    <child
      link="R3_tibia" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>